resources:
- ../../base
- namespace.yaml
- ingress.yaml
# namePrefix: dev-
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: pdqa-develop
images:
- name: ghcr.io/curiapp/curdev/pdqa-microservices
  newTag: "4158177"
- name: ghcr.io/curiapp/lasta-hub/pdqa-backend
  newTag: a9e18e5
- name: ghcr.io/curiapp/lasta-hub/pdqa-frontend
  newTag: a9e18e5
