apiVersion: apps/v1
kind: Deployment
metadata:
  name: pdqa-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pdqa-backend
  template:
    metadata:
      labels:
        app: pdqa-backend
    spec:
      volumes:
        - name: pdqa-pv-storage
          persistentVolumeClaim:
            claimName: pdqa-pv-claim
      containers:
        - name: pdqa-backend
          image: ghcr.io/curiapp/lasta-hub/pdqa-backend
          ports:
            - containerPort: 4931
          env:
            - name: DATABASE_URL
              value: "postgresql://root:SecurePassword@100.106.120.50:32639/pdqa_dev"
            - name: JWT_SECRET
              value: "0068439adcde23481a38fce4bd8203e6ab6e189b"
            - name: PORT
              value: "4931"

          volumeMounts:
            - mountPath: "/app/files"
              name: pdqa-pv-storage

      # imagePullSecrets:
      #   - name: ghcr-secret
---
apiVersion: v1
kind: Service
metadata:
  name: pdqa-backend-service
spec:
  selector:
    app: pdqa-backend
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 4931
    - name: https
      protocol: TCP
      port: 443
      targetPort: 4931
  type: ClusterIP
