apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - backend-deployment.yaml
  - microservice-deployment.yaml
  - frontend-deployment.yaml
  - image-pull-secret.yaml
  - storage/persistent-volume.yaml
  - storage/persistent-volume-claim.yaml
  - kafka
  - postgres